# Deployment for the Planetary API service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: planetary-api
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.api.replicas }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api
  template:
    metadata:
      labels:
        {{- include "chart.labels" . | nindent 8 }}
        app.kubernetes.io/component: api
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values:
                - api
            topologyKey: "kubernetes.io/hostname"
      containers:
        - name: planetary-api
          image: "{{ .Values.api.image.name }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
          securityContext:
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsNonRoot: true
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
          readinessProbe:
            httpGet:
              path: /ping
              port: http
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: RUST_LOG
            value: {{ .Values.api.log }}
          - name: DATABASE_USER
            value: {{ .Values.database.user }}
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.database.passwordSecret }}
                key: {{ .Values.database.passwordSecretKey }}
          - name: DATABASE_HOST
            value: {{ .Values.database.host }}
          - name: DATABASE_PORT
            value: "{{ .Values.database.port }}"
          - name: DATABASE_NAME
            value: {{ .Values.database.name }}
          - name: ORCHESTRATOR_URL
            value: "http://planetary-orchestrator:{{ .Values.orchestrator.service.port }}"
          - name: ORCHESTRATOR_API_KEY
            valueFrom:
              secretKeyRef:
                name: orchestrator-auth
                key: api-key
---
# Deployment for the Planetary orchestrator service
apiVersion: apps/v1
kind: Deployment
metadata:
  name: planetary-orchestrator
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.orchestrator.replicas }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: orchestrator
  template:
    metadata:
      labels:
        {{- include "chart.labels" . | nindent 8 }}
        app.kubernetes.io/component: orchestrator
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/component
                operator: In
                values:
                - orchestrator
            topologyKey: "kubernetes.io/hostname"
      serviceAccountName: {{ .Values.orchestrator.account.name }}
      containers:
        - name: planetary-orchestrator
          image: "{{ .Values.orchestrator.image.name }}:{{ .Values.orchestrator.image.tag | default .Chart.AppVersion }}"
          securityContext:
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsNonRoot: true
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
          readinessProbe:
            httpGet:
              path: /ping
              port: http
          resources:
            {{- toYaml .Values.orchestrator.resources | nindent 12 }}
          env:
          - name: RUST_LOG
            value: {{ .Values.orchestrator.log }}
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: SERVICE_URL
            value: "http://planetary-orchestrator.{{ .Release.Namespace }}:8080"
          - name: SERVICE_API_KEY
            valueFrom:
              secretKeyRef:
                name: orchestrator-auth
                key: api-key
          - name: DATABASE_USER
            value: {{ .Values.database.user }}
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.database.passwordSecret }}
                key: {{ .Values.database.passwordSecretKey }}
          - name: DATABASE_HOST
            value: {{ .Values.database.host }}
          - name: DATABASE_PORT
            value: "{{ .Values.database.port }}"
          - name: DATABASE_NAME
            value: {{ .Values.database.name }}
          - name: TRANSPORTER_IMAGE
            value: "{{ .Values.transporter.image.name }}:{{ .Values.transporter.image.tag | default .Chart.AppVersion }}"
          - name: TASKS_NAMESPACE
            value: {{ .Values.tasks.namespace }}
          {{- with .Values.orchestrator.storageClass }}
          - name: STORAGE_CLASS
            value: "{{- . }}"
          {{- end }}
          {{- with .Values.orchestrator.preemptible }}
          {{- with .nodeSelector }}
          - name: PREEMPTIBLE_NODE_SELECTOR
            value: "{{- . }}"
          {{- end }}
          {{- with .taint }}
          - name: PREEMPTIBLE_TAINT
            value: "{{- . }}"
          {{- end }}
          {{- end }}
---
# Deployment for the Planetary task monitor
apiVersion: apps/v1
kind: Deployment
metadata:
  name: planetary-monitor
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: monitor
  template:
    metadata:
      labels:
        {{- include "chart.labels" . | nindent 8 }}
        app.kubernetes.io/component: monitor
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.monitor.account.name }}
      containers:
        - name: planetary-monitor
          image: "{{ .Values.monitor.image.name }}:{{ .Values.monitor.image.tag | default .Chart.AppVersion }}"
          securityContext:
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsNonRoot: true
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /ping
              port: http
          readinessProbe:
            httpGet:
              path: /ping
              port: http
          resources:
            {{- toYaml .Values.monitor.resources | nindent 12 }}
          env:
          - name: RUST_LOG
            value: {{ .Values.monitor.log }}
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: DATABASE_USER
            value: {{ .Values.database.user }}
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.database.passwordSecret }}
                key: {{ .Values.database.passwordSecretKey }}
          - name: DATABASE_HOST
            value: {{ .Values.database.host }}
          - name: DATABASE_PORT
            value: "{{ .Values.database.port }}"
          - name: DATABASE_NAME
            value: {{ .Values.database.name }}
          - name: PLANETARY_NAMESPACE
            value: "{{ .Release.Namespace }}"
          - name: TASKS_NAMESPACE
            value: {{ .Values.tasks.namespace }}
          - name: ORCHESTRATOR_URL
            value: "http://planetary-orchestrator:{{ .Values.orchestrator.service.port }}"
          - name: ORCHESTRATOR_API_KEY
            valueFrom:
              secretKeyRef:
                name: orchestrator-auth
                key: api-key
---
{{- if .Values.postgresql.enabled }}
# Deployment for the PostgreSQL database
apiVersion: apps/v1
kind: Deployment
metadata:
  name: planetary-database
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: database
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: postgresql
          image: {{ .Values.postgresql.image.name }}:{{ .Values.postgresql.image.tag }}
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
          ports:
            - containerPort: {{ .Values.database.port }}
              name: postgresql
          env:
            - name: POSTGRES_DB
              value: {{ .Values.database.name }}
            - name: POSTGRES_USER
              value: {{ .Values.database.user }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.passwordSecret }}
                  key: {{ .Values.database.passwordSecretKey }}
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
          resources:
            {{- toYaml .Values.postgresql.resources | nindent 12 }}
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: planetary-database-pvc
{{- end }}
