# Secret for Azure Storage credentials
{{- if .Values.transporter.storage.azure }}
apiVersion: v1
kind: Secret
metadata:
  name: azure-storage-credentials
  namespace: {{ .Values.tasks.namespace }}
data:
  {{- if .Values.transporter.storage.azure.accountName }}
  AZURE_ACCOUNT_NAME: {{ .Values.transporter.storage.azure.accountName | b64enc | quote }}
  {{- end }}
  {{- if .Values.transporter.storage.azure.accessKey }}
  AZURE_ACCESS_KEY: {{ .Values.transporter.storage.azure.accessKey | b64enc | quote }}
  {{- end }}
{{- end }}
---
# Secret for S3 credentials
{{- if .Values.transporter.storage.s3 }}
apiVersion: v1
kind: Secret
metadata:
  name: aws-s3-credentials
  namespace: {{ .Values.tasks.namespace }}
data:
  {{- if .Values.transporter.storage.s3.awsDefaultRegion }}
  AWS_DEFAULT_REGION: {{ .Values.transporter.storage.s3.awsDefaultRegion | b64enc | quote }}
  {{- end }}
  {{- if .Values.transporter.storage.s3.awsAccessKeyId }}
  AWS_ACCESS_KEY_ID: {{ .Values.transporter.storage.s3.awsAccessKeyId | b64enc | quote }}
  {{- end }}
  {{- if .Values.transporter.storage.s3.awsSecretAccessKey }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.transporter.storage.s3.awsSecretAccessKey | b64enc | quote }}
  {{- end }}
{{- end }}
---
# Secret for Google Cloud Storage credentials
{{- if .Values.transporter.storage.google }}
apiVersion: v1
kind: Secret
metadata:
  name: google-storage-credentials
  namespace: {{ .Values.tasks.namespace }}
data:
  {{- if .Values.transporter.storage.google.hmacAccessKey }}
  GOOGLE_HMAC_ACCESS_KEY: {{ .Values.transporter.storage.google.hmacAccessKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.transporter.storage.google.hmacSecret }}
  GOOGLE_HMAC_SECRET: {{ .Values.transporter.storage.google.hmacSecret | b64enc | quote }}
  {{- end }}
{{- end }}
---
{{- $apiKey := randAlphaNum 64 -}}
# Secret for Orchestrator service auth (planetary namespace)
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-auth
data:
  api-key: {{ $apiKey | b64enc | quote }}
---
# Secret for Orchestrator service auth (planetary-tasks namespace)
apiVersion: v1
kind: Secret
metadata:
  name: orchestrator-auth
  namespace: {{ .Values.tasks.namespace }}
data:
  api-key: {{ $apiKey | b64enc | quote }}
---
# Secret for PostgreSQL database password
{{- if .Values.postgresql.enabled }}
{{- if not .Values.postgresql.password }}
{{- fail "`postgresql.password` is required when `postgresql.enabled` is `true`" }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.database.passwordSecret }}
data:
  {{ .Values.database.passwordSecretKey }}: {{ .Values.postgresql.password | b64enc | quote }}
{{- end }}